<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-3"><strong>FavoriteGolfCourse</strong></h1>
      </div>
    </div>
  </div>
</header>
<div class="features">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="title m-4"><strong>FavoriteGolfCourse</strong>とは？</h2>
      <h4 class="title mb-4">
        FavoriteGolfCourseは、あなたが行きたいゴルフ場が簡単に見つかります。<br>
        どんな特徴のあるコースなのか、人気があるコースはどのゴルフ場か、<br>
        ゴルファー達の経験を元にしたレビューから、すばやく見つけてみませんか？<br>
      </h4>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4 feature text-center">
        <span aria-hidden="true" class="glyphicon glyphicon-check" style="font-size: 40px"></span>
        <i class="far fa-comment" style="font-size: 40px"></i>
        <h3 class="feature-title" style="font-size: 20px"><strong>最高の相棒を</strong></h3>
        <p>バイクカーによるリアルな口コミであなたのバイク選びをサポート</p>
      </div>
      <div class="col-lg-4 col-sm-4 feature text-center">
        <span aria-hidden="true" class="glyphicon glyphicon-check" style="font-size: 40px"></span>
        <i class="fas fa-search" style="font-size: 40px"></i>
        <h3 class="feature-title" style="font-size: 20px"><strong>探しやすい</strong></h3>
        <p>気になるバイクを検索フォームやランキングから検索可能</p>
      </div>
      <div class="col-lg-4 col-sm-4 feature text-center">
        <span aria-hidden="true" class="glyphicon glyphicon-check" style="font-size: 40px"></span>
        <i class="far fa-image" style="font-size: 40px"></i>
        <h3 class="feature-title" style="font-size: 20px"><strong>見やすいレイアウト</strong></h3>
        <p>見やすい設計</p>
      </div>
    </div>
  </div>
</div>
<div class="container my-4">
    <div class="row mx-auto">
      <div class="justify-content-center col-lg-6">

      </div>
    </div>
</div>
<div class="container my-4">
  <div class="ranking mx-auto">
    <h2 class="my-4"><strong>バイク人気ランキング</strong></h2>
    <div class="row">
    </div>
  </div>